# Week 3 Assignment (Clustering neighbourhoods in Toronto)

### Task 1 Collect the data from wiki page and transform it to pandas dataframe

Importing Libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Collecting data from wiki

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_html = requests.get(url).text
soup = BeautifulSoup(wiki_html, 'html.parser')

Convert content of PostalCode HTML table as list of data

In [4]:
data = []
for tr in soup.tbody.find_all('tr'):
    data.append([ td.get_text().strip() for td in tr.find_all('td')])

Create the dataframe

In [5]:
df = pd.DataFrame(data, columns=['PostalCode','Borough','Neighborhood'])

In [6]:
df.head()

  PostalCode       Borough      Neighborhood
0       None          None              None
1        M1A  Not assigned      Not assigned
2        M2A  Not assigned      Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

Dropping NA rows and cells with a borough that is Not assigned

In [7]:
df = df.dropna()

In [9]:
empty = 'Not assigned'
df = df[(df.PostalCode != empty ) & (df.Borough != empty) & (df.Neighborhood != empty)]

In [19]:
df.head()

  PostalCode           Borough      Neighborhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

Group the dataframe by 'PostalCode' and 'Borough', convert the groupby value as string separated by commas and convert back to a new dataframe

In [11]:
def neighborhood_list(grouped):    
    return ', '.join(sorted(grouped['Neighborhood'].tolist()))
                    
grp = df.groupby(['PostalCode', 'Borough'])
df2 = grp.apply(neighborhood_list).reset_index(name='Neighborhood')

In [20]:
df2.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [21]:
df2[df2.Borough == 'East York']

   PostalCode    Borough                     Neighborhood
35        M4B  East York  Parkview Hill, Woodbine Gardens
36        M4C  East York                 Woodbine Heights
38        M4G  East York                          Leaside
39        M4H  East York                 Thorncliffe Park
40        M4J  East York                     East Toronto

Save the dataframe to csv for future tasks

In [13]:
df2.to_csv('task1.csv', index=False)

In [14]:
df2.shape

(102, 3)