# Segmenting and Clustering Neighborhoods in Toronto

## Example2

In [1]:
import numpy as np 
import pandas as pd
df = "Toronto1_df.csv"
toronto_postal = pd.read_csv(df).set_index("Postcode")
toronto_postal.rename_axis("Postal Code", axis='index', inplace=True)
toronto_postal.head()

                 Borough                           Neighbourhood
Postal Code
M1B          Scarborough                          Malvern, Rouge
M1C          Scarborough  Highland Creek, Port Union, Rouge Hill
M1E          Scarborough       Guildwood, Morningside, West Hill
M1G          Scarborough                                  Woburn
M1H          Scarborough                               Cedarbrae

## Were Are extracting the details of latitudes and logitudes from the given link

In [6]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
geocsv_data = pd.read_csv(toronto_geocsv).set_index("Postal Code")
geocsv_data.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [7]:
toronto_latlonjoin =toronto_postal.join(geocsv_data)
toronto_latlonjoin.head()

,Borough,Neighbourhood,Latitude,Longitude
Postal Code,,,,
M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
M1C,Scarborough,"Highland Creek, Port Union, Rouge Hill",43.784535,-79.160497
M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [8]:
toronto_latlonjoin.to_csv('Toronto2_df.csv',index=False)

In [9]:
toronto_latlonjoin.shape

(103, 4)